.start {
  padding-top: 80px;
  background-color: #F7DA71;

  h1 {
    font-size: 32px;
    font-weight: bold;
  }

  &__img {
    height:50px;
    width:225px;
  }

  &__app {
    text-align:center;
    padding:180px 0px 0px 0px;
  }

  &__event {
    background-color:#EFAA5B;
    border-radius:4px;
    color:#FFFFFF;
    font-size:16px;
    padding:16px 0px;
    text-align: center;
  }
}
