/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

 html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}

 /*  HTML5 display-role reset for older browsers
*/

 article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}

 body {
line-height: 1;
}

 ol, ul {
list-style: none;
}

 blockquote, q {
quotes: none;
}

 blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}

 table {
border-collapse: collapse;
border-spacing: 0;
}

 .start {
  padding-top: 80px;
  background-color: #F7DA71;
}

 .start h1 {
    font-size: 32px;
    font-weight: bold;
  }

 .start__img {
    height:50px;
    width:225px;
  }

 .start__app {
    text-align:center;
    padding:180px 0px 0px 0px;
  }

 .start__event {
    background-color:#EFAA5B;
    border-radius:4px;
    color:#FFFFFF;
    font-size:16px;
    padding:16px 0px;
    text-align: center;
  }

 .questArea {
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-top: 20px;
  position: relative;
}

 .quest {
  display: table;
  border-bottom: 1px solid #e6e6e6;
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
  max-width: 75%;
}

 .quest__img {
    position: absolute;
    top: 25px;
    left: 15px;
  }

 .quest__matchWrap {
    position: absolute;
    top: 50px;
    right: 10px;
  }

 .quest__match {
    border: 1px solid orange;
    border-radius: 50%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
    font-size: 13px;
    height: 30px;
    width: 30px;
  }

 .quest__matchPer {
    font-size: 8px;
  }

 .condidate__title {
    font-size: 18px;
    margin-left: 15px;
    margin-bottom: 10px;
  }

 .condidate__list {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
  }

 .condidate__item {
    text-align: center;
    width: 50%;
    margin-bottom: 10px;
  }

 .condidate__link {
    border: 1px solid #000;
    border-radius: 3px;
    box-shadow: 0 2px 4px #e6e6e6;
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 85%;
    position: relative;
    overflow: hidden;
  }

 .condidate__link .rp-effect {
      position: absolute;
      border-radius: 50%;
      opacity: 0.8;/*波紋の濃さ*/
      -webkit-transform: scale(0);
              transform: scale(0);
      background: #FFF;/*波紋色*/
      -webkit-animation: ripple 700ms;
              animation: ripple 700ms;
      pointer-events: none;
    }

 .condidate__overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
  }

 .hobbyArea {
  background-color: #fff;
  border-top: 1px solid #e6e6e6;
  padding-top: 25px;
  padding-bottom: 15px;
  transition: opacity 1s;
  opacity: 0;
  max-height: 0;
}

 .hobby__title {
    font-size: 16px;
    margin-left: 20px;
    margin-bottom: 15px;
  }

 .hobby__item {
    text-align: center;
    margin-bottom: 20px;
  }

 .hobby__item:last-of-type {
      margin-bottom: 10px;
    }

 .hobby__link {
    background-color: #fcf9ef;
    border: 1px solid #000;
    box-shadow: 0 2px 4px #e6e6e6;
    display: inline-block;
    font-size: 16px;
    padding-top: 12px;
    padding-bottom: 13px;
    width: 90%;
    position: relative;
    transition: .2s;
  }

 .hobby__link::before{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      background: #f9f1d6;
      border: 1px solid #f9f1d6;
      -webkit-transform: translate3d(0,0,0);
              transform: translate3d(0,0,0);
      -webkit-animation: aura 2s ease-out infinite;
              animation: aura 2s ease-out infinite;
    }

 .hobby__link .rp-effect {
      position: absolute;
      border-radius: 50%;
      opacity: 0.8;/*波紋の濃さ*/
      -webkit-transform: scale(0);
              transform: scale(0);
      background: #FFF;/*波紋色*/
      -webkit-animation: ripple 700ms;
              animation: ripple 700ms;
      pointer-events: none;
    }

 .hobby__text {
    position: relative;
  }

 .hobby__desc {
    font-size: 15px;
    line-height: 1.4;
    text-align: left;
    width: 90%;
    margin: 5px auto;
  }

 .hobby__search {
    font-size: 14px;
  }

 .hobby__resetButton {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
            justify-content: flex-end;
    padding-top: 10px;
    border-top: 1px solid #e6e6e6;
  }

 .hobby__button {
    border: 1px solid #000;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
  }

 @-webkit-keyframes aura{
  0%{-webkit-transform:scale(.95);transform:scale(.95); opacity:1}
  90%{opacity:.5}to{-webkit-transform:scale(1.1,1.1);transform:scale(1.1,1.1); opacity:0}
}

 @keyframes aura{
  0%{-webkit-transform:scale(.95);transform:scale(.95); opacity:1}
  90%{opacity:.5}to{-webkit-transform:scale(1.1,1.1);transform:scale(1.1,1.1); opacity:0}
}

 @-webkit-keyframes ripple {
  to {
    opacity: 0;
    -webkit-transform: scale(2.0);
            transform: scale(2.0);
  }
}

 @keyframes ripple {
  to {
    opacity: 0;
    -webkit-transform: scale(2.0);
            transform: scale(2.0);
  }
}

 .mg16r {
  margin-right: 12px;
}

 .mg20r {
  margin-right: 20px;
}

 body {
  background-image: url('../img/sheet.png');
  background-color: #F7DA71;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

 /* Landscape layout (with min-width) */

 @media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

 h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

 @keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

 @-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

 .blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
    padding: 60px 30px;
}

 .js-none {
  display: none;
}

 .js-show {
  opacity: 1;
  max-height: 100%;
}
